<div class="modal-window">
	<h2>{{header}}</h2>
	<p>{{message}}</p>
	<div class="modal-footer">
		<a class="button button-confirm" href="#">{{label_confirm}}</a>
		<a class="button button-cancel" href="#">{{label_cancel}}</a>
	</div>
</div>